extends ../layout

block content
  h1 
    a(href='/horizon') Horizon
  p.lead Internal Page for testing Horizon network.
  .col-sm-2
    a(href='https://www.stellar.org/developers/guides/') Dev Guide
  .col-sm-2
    a(href='https://www.stellar.org/developers/horizon/reference/index.html') API reference
  .col-sm-2
    a(href='https://www.stellar.org/developers/go/reference/index.html') Go SDK
  .col-sm-2
    a(href='https://www.stellar.org/developers/js-stellar-sdk/reference/index.html') Javascript SDK
  .col-sm-2
    a(href='https://www.stellar.org/laboratory/#explorer?network=test') Stellar laboratory
  .col-sm-2
    a(href='https://www.stellar.org/laboratory/#xdr-viewer') XDR Viewer
  hr
  .row
    .col-sm-4
      h2 Horizon Server
      p
        a.btn.btn-default(href='/horizon/transaction', role='button') transaction »
        <br />
        a.btn.btn-default(href='/horizon/trade_aggregation', role='button') trade_aggregation »
        <br />
      h2 Bridge Server
      p
        a.btn.btn-default(href='/horizon/trust_recp', role='button') trust_recp »
        <br />
        a.btn.btn-default(href='/horizon/untrust_recp', role='button') untrust_recp »
        <br />
        a.btn.btn-default(href='/horizon/payment', role='button') payment »
        <br />
        a.btn.btn-default(href='/horizon/receive', role='button') receive »
        <br />
    .col-sm-8
        p !{dynamic_content}
        