extends ../layout

block content
  h1 
    a(href='/horizon') Horizon
  p.lead Internal Page for testing Horizon network.
  .row
      .col-sm-2
        a(href='https://www.stellar.org/developers/guides/' target="_blank") Dev Guide
      .col-sm-2
        a(href='https://www.stellar.org/developers/horizon/reference/index.html', target="_blank") API reference
      .col-sm-2
        a(href='https://www.stellar.org/developers/go/reference/index.html', target="_blank") Go SDK
      .col-sm-2
        a(href='https://www.stellar.org/developers/js-stellar-sdk/reference/index.html', target="_blank") Javascript SDK
      .col-sm-2
        a(href='https://www.stellar.org/laboratory/#explorer?network=test', target="_blank") Stellar laboratory
      .col-sm-2
        a(href='https://www.stellar.org/laboratory/#xdr-viewer', target="_blank") XDR Viewer
  hr
  .row
    .col-sm-3
      h2 Horizon Server
      p
        //- TODO use https://www.w3schools.com/bootstrap/bootstrap_buttons.asp
        a.btn.btn-default.btn-block(href='/horizon/payment', role='button') Horizon payment »
        <br />
        a.btn.btn-default.btn-block(href='/horizon/receive', role='button') Horizon receive »
        <br />
        a.btn.btn-default.btn-block(href='/horizon/trade_aggregation', role='button') Horizon trade_aggregation »
        <br />
        a.btn.btn-default.btn-block(href='/horizon/trust_recp', role='button') Horizon trust_recp »
        <br />
        a.btn.btn-default.btn-block(href='/horizon/untrust_recp', role='button') uHorizon ntrust_recp »
        <br />
    .col-sm-6
        p !{dynamic_content}
    .col-sm-3
      h2 Bridge Server
      p
        a.btn.btn-default.btn-block(href='/horizon/bridge/payment', role='button') Bridge payment »
        <br />
        a.btn.btn-default.btn-block(href='/horizon/bridge/receive', role='button') Bridge receive »
        <br />