footer
  .container.text-center
    p.float-left © 2018 Lightyear.io | Stellar.org
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/michaelran16/hackathon-starter' target="_blank") GitHub repo
      li.list-inline-item
        a(href='/status' target="_blank") Status monitor
