footer
  .container.text-center
    p.pull-left © 2018 Lightyear.io | Stellar.org
    ul.pull-right.list-inline
      li
        a(href='https://github.com/michaelran16/hackathon-starter' target="_blank") GitHub repo
      li
        a(href='/status' target="_blank") Status monitor
