extends layout

block content
  h1 Internal Tools
  p.lead Let the best technology prevail -- Lightyear, powered by the Stellar network. 
  hr
  .row
    .col-sm-6
      h2 API Example
      p A list of APIS that integration with the account. 
      p
        a.btn.btn-default(href='/api', role='button') View details »
    .col-sm-6
      h2 区块链新闻
      p News and articles of blockchain topics.
      p
        a.btn.btn-default(href='/post', role='button') View details »
    .col-sm-6
      h2 Contact Us
      p Send us an email.
      p
        a.btn.btn-default(href='/contact', role='button') View details »
  hr
  h1 External Tools
  p.lead 3rd parties development or productivity tools used at Lightyear. 
  .row
    .col-sm-6
      h2 ScrapingHub
      p Platform used for building, deploying and running web crawlers.
      p
        a.btn.btn-default(href='https://app.scrapinghub.com/o/74785' target="_blank", role='button') View details »
    .col-sm-6
      h2 mLab MongoDB
      p Free cloud MongoDB service deployments on AWS, Azure, and Google.
      p
        a.btn.btn-default(href='https://mlab.com/databases/lightyear-mongodb' target="_blank", role='button') View details »