extends layout

block content
  h1 Internal Tools
  p.lead Lightyear is powered by the Stellar network. Stellar is an open global protocol for payments enabling low cost, high access and seamless multi-asset transactions. Lightyear enables forward thinking financial entities to easily join the Stellar ecosystem.
  hr
  .row
    .col-sm-6
      h2 API Example
      p A list of APIS that integration with the account. 
      p
        a.btn.btn-default(href='/api', role='button') View details »
    .col-sm-6
      h2 区块链新闻
      p News and articles of blockchain topics
      p
        a.btn.btn-default(href='/post', role='button') View details »
    .col-sm-6
      h2 Contact Us
      p Send us an email.
      p
        a.btn.btn-default(href='/contact', role='button') View details »
  hr
  h1 External Tools
  .row
    .col-sm-6
      h2 ScrapingHub
      p https://app.scrapinghub.com/o/74785
    .col-sm-6
      h2 mLab MongoDB
      p https://mlab.com/databases/lightyear-mongodb
