extends ../layout

block content
  h1 Paste Tool
  p.lead Internal Tool for text sharing.
  hr
  .row
    .col-sm-3
      a.btn.btn-default.btn-block(href='/paste/new', role='button') New Paste »
      form(method='POST' action="/paste/load")
        input(type='hidden', name='_csrf', value=_csrf)
        input#name.form-control(type='text', placeholder='Enter short ID here' name='short_id_input')
        button.btn.btn-default.btn-block(type='submit') Load »
