extends ../layout

block menu-item
  li.nav-item(class=(title === 'news') ? 'active' : undefined)
    a.nav-link(href='/news') news

block content
  h1 区块链新闻
  p.lead Best blockchain news over the Internet.
  hr
  div
    .col-sm-10
      h2 #{article.title}
      #{article.body}
