extends ../layout

block menu-item
  li.nav-item(class=(title === 'news') ? 'active' : undefined)
    a.nav-link(href='/news') news

block content
  h1 区块链新闻
  p.lead Best blockchain news over the Internet.
  hr
  .row
    each val in news_titles
        .col-sm-4
          h2 #{val['short_title']}
          p #{val['short_body']}
          p
            a.btn.btn-default(href='/news/' + val['id'], role='button') View details »
